# Lab 3 Exercises Solution

In [1]:
import pandas as pd
import numpy as np

## Exercise 1

Let's load lab 2's dataset again and try to handle the missing values this time.

In [2]:
try:
    world_df = pd.read_csv('../data/world_factbook.csv')
except FileNotFoundError:
    world_df = pd.read_csv('https://raw.githubusercontent.com/GUC-DM/W2023/main/data/world_factbook.csv')

world_df.head()

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [3]:
# instead of the automaticaly generated index, let's use the country column
world_df = world_df.set_index('country')
world_df.head()

,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

**How many missing values are there in each column?**

In [4]:
world_df.isnull().sum()

region               0
population           0
area                 0
density              0
coastline            0
migration            3
infant_mortality     3
gdp                  1
literacy            18
phones               4
arable               2
crops                2
other                2
climate             22
birthrate            3
deathrate            4
agriculture         15
industry            16
service             15
dtype: int64

**Filter the data to the rows where there are missing values**

_Hint: save the boolean mask to a variable for re-use in later prompts._

In [5]:
world_df.isnull().head()

,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
country,,,,,,,,,,,,,,,,,,,
Afghanistan,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Albania,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Algeria,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
American Samoa,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
Andorra,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True

In [6]:
# with axis=1, we get the number of missing values per row
world_df.isnull().sum(axis=1)

country
Afghanistan       0
Albania           0
Algeria           0
American Samoa    3
Andorra           3
                 ..
West Bank         1
Western Sahara    9
Yemen             0
Zambia            0
Zimbabwe          0
Length: 227, dtype: int64

In [7]:
# saving the boolean mask to a variable
missing = world_df.isnull().sum(axis=1) > 0
missing

country
Afghanistan       False
Albania           False
Algeria           False
American Samoa     True
Andorra            True
                  ...
West Bank          True
Western Sahara     True
Yemen             False
Zambia            False
Zimbabwe          False
Length: 227, dtype: bool

In [8]:
# final answer
world_df[missing]

,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
country,,,,,,,,,,,,,,,,,,,
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,2.304143e+10,42.0,7.8,2.41,0.24,97.35,NaN,45.11,24.20,0.096,0.658,0.246
Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,88.0,0.04,0.31,21.05,2.744375e+10,NaN,215.4,13.60,2.96,83.44,4.0,8.77,8.27,0.142,0.308,0.550
Canada,NORTHERN AMERICA,33098932,9984670,3.3,2.02,5.96,4.75,9.863482e+11,97.0,552.2,4.96,0.02,95.02,NaN,10.78,7.80,0.022,0.294,0.684
Cook Islands,OCEANIA,21388,240,89.1,50.00,NaN,NaN,1.069400e+08,95.0,289.9,17.39,13.04,69.57,2.0,21.00,NaN,0.151,0.096,0.753
Croatia,EASTERN EUROPE,4494749,56542,79.5,10.32,1.58,6.84,4.764434e+10,98.5,420.4,26.09,2.27,71.65,NaN,9.61,11.48,0.070,0.308,0.622
Cyprus,NEAR EAST,784301,9250,84.8,7.01,0.43,7.18,1.505858e+10,97.6,NaN,7.79,4.44,87.77,3.0,12.56,7.68,0.037,0.198,0.765
East Timor,ASIA (EX. NEAR EAST),1062777,15007,70.8,4.70,0.00,47.41,5.313885e+08,58.6,NaN,4.71,0.67,94.62,2.0,26.99,6.24,0.085,0.231,0.684
Faroe Islands,WESTERN EUROPE,47246,1399,33.8,79.84,1.41,6.24,1.039412e+09,NaN,503.8,2.14,0.00,97.86,NaN,14.05,8.70,0.270,0.110,0.620
Gaza Strip,NEAR EAST,1428757,360,3968.8,11.11,1.60,22.93,8.572542e+08,NaN,244.3,28.95,21.05,50.00,3.0,39.45,3.80,0.030,0.283,0.687
Gibraltar,WESTERN EUROPE,27928,7,3989.7,171.43,0.00,5.13,4.887400e+08,NaN,877.7,0.00,0.00,100.00,NaN,10.74,9.31,NaN,NaN,NaN
Greenland,NORTHERN AMERICA,56361,2166086,0.0,2.04,-8.37,15.82,1.127220e+09,NaN,448.9,0.00,0.00,100.00,1.0,15.93,7.84,NaN,NaN,NaN
Guam,OCEANIA,171019,541,316.1,23.20,0.00,6.94,3.591399e+09,99.0,492.0,9.09,16.36,74.55,2.0,18.79,4.48,NaN,NaN,NaN
Guernsey,WESTERN EUROPE,65409,78,838.6,64.10,3.84,4.71,1.308180e+09,NaN,842.4,NaN,NaN,NaN,3.0,8.81,10.01,0.030,0.100,0.870
Isle of Man,WESTERN EUROPE,75441,572,131.9,27.97,5.36,5.93,1.584261e+09,NaN,676.0,9.00,0.00,91.00,3.0,11.05,11.19,0.010,0.130,0.860
Italy,WESTERN EUROPE,58133509,301230,193.0,2.52,2.07,5.94,1.552165e+12,98.6,430.9,27.79,9.53,62.68,NaN,8.72,10.40,0.021,0.291,0.688
Jersey,WESTERN EUROPE,91084,116,785.2,60.34,2.76,5.24,2.258883e+09,NaN,811.3,0.00,0.00,100.00,3.0,9.30,9.28,0.050,0.020,0.930
Kiribati,OCEANIA,105432,811,130.0,140.94,0.00,48.52,8.434560e+07,NaN,42.7,2.74,50.68,46.58,2.0,30.65,8.26,0.089,0.242,0.668
Lebanon,NEAR EAST,3874050,10400,372.5,2.16,0.00,24.52,1.859544e+10,87.4,255.6,16.62,13.98,69.40,NaN,18.52,6.21,0.120,0.210,0.670
Libya,NORTHERN AFRICA,5900754,1759540,3.4,0.10,0.00,24.60,3.776483e+10,82.6,127.1,1.03,0.19,98.78,NaN,26.49,3.48,0.076,0.499,0.425
Lithuania,BALTICS,3585906,65200,55.0,0.14,-0.71,6.89,4.087933e+10,99.6,223.4,45.22,0.91,53.87,NaN,8.75,10.98,0.055,0.325,0.620
Luxembourg,WESTERN EUROPE,474413,2586,183.5,0.00,8.97,4.81,2.614016e+10,100.0,515.4,23.28,0.40,76.32,NaN,11.94,8.41,0.010,0.130,0.860
Macedonia,EASTERN EUROPE,2050554,25333,80.9,0.00,-1.45,10.09,1.373871e+10,NaN,260.0,22.26,1.81,75.93,3.0,12.02,8.77,0.118,0.319,0.563
Malta,WESTERN EUROPE,400214,316,1266.5,62.28,2.07,3.89,7.083788e+09,92.8,505.0,28.13,3.13,68.74,NaN,10.22,8.10,0.030,0.230,0.740
Mayotte,SUB-SAHARAN AFRICA,201234,374,538.1,49.52,6.78,62.40,5.232084e+08,NaN,49.7,NaN,NaN,NaN,2.0,40.95,7.70,NaN,NaN,NaN
Moldova,C.W. OF IND. STATES,4466706,33843,132.0,0.00,-0.26,40.42,8.040071e+09,99.1,208.1,55.30,10.79,33.91,NaN,15.70,12.64,0.213,0.233,0.555
Monaco,WESTERN EUROPE,32543,2,16271.5,205.00,7.75,5.43,8.786610e+08,99.0,1035.6,0.00,0.00,100.00,NaN,9.19,12.91,0.170,NaN,NaN
Montserrat,LATIN AMER. & CARIB,9439,102,92.5,39.22,0.00,7.35,3.209260e+07,97.0,NaN,20.00,0.00,80.00,2.0,17.59,7.10,NaN,NaN,NaN
Morocco,NORTHERN AFRICA,33241259,446550,74.4,0.41,-0.98,41.62,1.329650e+11,51.7,40.4,19.61,2.17,78.22,NaN,21.98,5.58,0.217,0.357,0.426
Nauru,OCEANIA,13287,21,632.7,142.86,0.00,9.95,6.643500e+07,NaN,143.0,0.00,0.00,100.00,2.0,24.76,6.70,NaN,NaN,NaN
Nepal,ASIA (EX. NEAR EAST),28287147,147181,192.2,0.00,0.00,66.98,3.960201e+10,45.2,15.9,21.68,0.64,77.68,NaN,30.98,9.31,0.380,0.210,0.410
N. Mariana Islands,OCEANIA,82459,477,172.9,310.69,9.61,7.11,1.030738e+09,97.0,254.7,13.04,4.35,82.61,2.0,19.43,2.29,NaN,NaN,NaN
Russia,C.W. OF IND. STATES,142893540,17075200,8.4,0.22,1.02,15.39,1.271753e+12,99.6,280.6,7.33,0.11,92.56,NaN,9.95,14.65,0.054,0.371,0.575
Saint Helena,SUB-SAHARAN AFRICA,7502,413,18.2,14.53,0.00,19.00,1.875500e+07,97.0,293.3,12.90,0.00,87.10,NaN,12.13,6.53,NaN,NaN,NaN
St Pierre & Miquelon,NORTHERN AMERICA,7026,242,29.0,49.59,-4.86,7.54,4.847940e+07,99.0,683.2,13.04,0.00,86.96,NaN,13.52,6.83,NaN,NaN,NaN
San Marino,WESTERN EUROPE,29251,61,479.5,0.00,10.98,5.73,1.012085e+09,96.0,704.3,16.67,0.00,83.33,NaN,10.02,8.17,NaN,NaN,NaN
Serbia,EASTERN EUROPE,9396411,88361,106.3,0.00,-1.33,12.89,2.067210e+10,93.0,285.8,33.35,3.20,63.45,NaN,NaN,NaN,0.166,0.255,0.579
Slovakia,EASTERN EUROPE,5439448,48845,111.4,0.00,0.30,7.41,7.234466e+10,NaN,220.1,30.16,2.62,67.22,3.0,10.65,9.45,0.035,0.294,0.672
Slovenia,EASTERN EUROPE,2010347,20273,99.2,0.23,1.12,4.45,3.819659e+10,99.7,406.1,8.60,1.49,89.91,NaN,8.98,10.31,0.028,0.369,0.603
Solomon Islands,OCEANIA,552438,28450,19.4,18.67,0.00,21.29,9.391446e+08,NaN,13.4,0.64,2.00,97.36,2.0,30.01,3.92,0.420,0.110,0.470
Tanzania,SUB-SAHARAN AFRICA,37445392,945087,39.6,0.15,-2.06,98.54,2.246724e+10,78.2,4.0,4.52,1.08,94.40,NaN,37.71,16.39,0.432,0.172,0.396
Turks & Caicos Is,LATIN AMER. & CARIB,21152,430,49.2,90.47,11.68,15.67,2.030592e+08,98.0,269.5,2.33,0.00,97.67,2.0,21.84,4.21,NaN,NaN,NaN
Tuvalu,OCEANIA,11810,26,454.2,92.31,0.00,20.03,1.299100e+07,NaN,59.3,0.00,0.00,100.00,2.0,22.18,7.11,0.166,0.272,0.562
Virgin Islands,LATIN AMER. & CARIB,108605,1910,56.9,9.84,-8.94,8.03,1.868006e+09,NaN,652.8,11.76,2.94,85.30,2.0,13.96,6.43,0.010,0.190,0.800
Wallis and Futuna,OCEANIA,16025,274,58.5,47.08,NaN,NaN,5.929250e+07,50.0,118.6,5.00,25.00,70.00,2.0,NaN,NaN,NaN,NaN,NaN
West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,1.968394e+09,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400

**Fill the missing values with the dataset's mean for each of the columns and assign the result to a new variable `world_df_na_mean`. How does the data filtered above look now?**

In [9]:
world_df.mean()

population          2.874028e+07
area                5.982270e+05
density             3.790471e+02
coastline           2.116533e+01
migration           3.812500e-02
infant_mortality    3.550696e+01
gdp                 2.332301e+11
literacy            8.283828e+01
phones              2.360614e+02
arable              1.379711e+01
crops               4.564222e+00
other               8.163831e+01
climate             2.139024e+00
birthrate           2.211473e+01
deathrate           9.241345e+00
agriculture         1.508443e-01
industry            2.827109e-01
service             5.652830e-01
dtype: float64

In [10]:
# The simplest example. Fill in the missing values of each column with that column's mean.
world_df_na_mean = world_df.fillna(world_df.mean())
world_df_na_mean[missing].head()

,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
country,,,,,,,,,,,,,,,,,,,
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.000000,259.5,10.00,15.00,75.00,2.000000,22.46,3.27,0.150844,0.282711,0.565283
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.000000,497.2,2.22,0.00,97.78,3.000000,8.71,6.25,0.150844,0.282711,0.565283
Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,2.304143e+10,42.000000,7.8,2.41,0.24,97.35,2.139024,45.11,24.20,0.096000,0.658000,0.246000
Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,88.0,0.04,0.31,21.05,2.744375e+10,82.838278,215.4,13.60,2.96,83.44,4.000000,8.77,8.27,0.142000,0.308000,0.550000
Canada,NORTHERN AMERICA,33098932,9984670,3.3,2.02,5.96,4.75,9.863482e+11,97.000000,552.2,4.96,0.02,95.02,2.139024,10.78,7.80,0.022000,0.294000,0.684000

In [11]:
world_df.columns

Index(['region', 'population', 'area', 'density', 'coastline', 'migration',
       'infant_mortality', 'gdp', 'literacy', 'phones', 'arable', 'crops',
       'other', 'climate', 'birthrate', 'deathrate', 'agriculture', 'industry',
       'service'],
      dtype='object')

In [12]:
# That won't work however when there are string/object columns with missing values (calculating the mean would throw an error).
# Instead, specify the columns to fill its missing values with its mean:
# (we'll omit the first columns that don't have missing values since its unnecessary,
# and the 'climate' column since it's a categorical attribute)
cols = ['migration', 'infant_mortality', 'gdp', 'literacy', 'phones', 'arable', 'crops',
                'other', 'birthrate', 'deathrate', 'agriculture', 'industry', 'service']

world_df_na_mean = world_df.fillna(world_df[cols].mean())
world_df_na_mean[missing].head()

,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
country,,,,,,,,,,,,,,,,,,,
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.000000,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.150844,0.282711,0.565283
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.000000,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.150844,0.282711,0.565283
Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,2.304143e+10,42.000000,7.8,2.41,0.24,97.35,NaN,45.11,24.20,0.096000,0.658000,0.246000
Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,88.0,0.04,0.31,21.05,2.744375e+10,82.838278,215.4,13.60,2.96,83.44,4.0,8.77,8.27,0.142000,0.308000,0.550000
Canada,NORTHERN AMERICA,33098932,9984670,3.3,2.02,5.96,4.75,9.863482e+11,97.000000,552.2,4.96,0.02,95.02,NaN,10.78,7.80,0.022000,0.294000,0.684000

In [13]:
# Since 'climate' is categorical, let's fill in its missing value with the mode (most common value)
# Notice how we need to specify [0]
# Since there can be multiple most frequent values, .mode() returns a series instead of a single value
world_df_na_mean['climate'].fillna(world_df_na_mean['climate'].mode()[0], inplace=True)
world_df_na_mean.head()

,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380000,0.240000,0.380000
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232000,0.188000,0.579000
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101000,0.600000,0.298000
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.150844,0.282711,0.565283
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.150844,0.282711,0.565283

**Fill the missing values based on each region's median for each of the columns and assign the result to a new variable `world_df_na_median`. How does the data filtered earlier look now? What is the advantage of this approach?**

_Hint: you'll need to use `groupby`_

Imputation with the global mean/median/mode, while easy and fast, often distorts the data's distribution because many cells would have the same value. A better approach of imputing with mean/median/mode is to use other features in the data (i.e. imputing based on other similar samples). In this example, the mean/median/mode per region would be a more representative value to use than the world mean/median/mode.

In [14]:
# Let's first preview what the median for each region looks like
region_median = world_df.groupby('region').median()
region_median

,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
region,,,,,,,,,,,,,,,,,,
ASIA (EX. NEAR EAST),26336502.5,208920.0,192.00,1.235,0.000,30.775,1.531742e+11,90.60,61.50,13.595,1.005,81.160,2.00,19.565,6.960,0.1610,0.2815,0.4950
BALTICS,2274735.0,64589.0,35.20,0.820,-2.230,7.870,2.320230e+10,99.80,321.40,29.670,0.470,69.860,3.00,9.240,13.250,0.0400,0.2940,0.6660
C.W. OF IND. STATES,7641217.0,203050.0,56.10,0.000,-2.085,32.425,2.815922e+10,99.05,155.35,11.135,0.875,86.520,2.75,15.850,9.325,0.1980,0.3295,0.4595
EASTERN EUROPE,6412407.5,67704.0,102.75,0.065,0.085,9.330,5.188656e+10,98.60,296.05,31.755,2.260,65.335,3.00,9.720,10.310,0.0815,0.3095,0.5910
LATIN AMER. & CARIB,1065842.0,22966.0,91.40,3.370,-1.220,18.050,1.012550e+10,94.05,222.85,7.600,1.980,87.230,2.00,18.020,6.090,0.0700,0.2590,0.6180
NEAR EAST,3488139.5,51825.0,87.50,1.145,0.555,19.060,3.278707e+10,83.00,211.00,5.305,2.780,89.660,1.00,21.595,4.560,0.0350,0.3520,0.5840
NORTHERN AFRICA,21552552.5,724000.0,38.00,0.325,-0.390,31.000,1.329650e+11,70.00,123.60,3.045,0.365,96.590,1.00,21.980,5.130,0.1320,0.3570,0.4255
NORTHERN AMERICA,65773.0,2166086.0,29.00,2.040,2.490,7.540,2.367828e+09,97.50,683.20,13.040,0.000,86.960,2.00,13.520,7.800,0.0100,0.2040,0.7870
OCEANIA,114689.0,811.0,60.10,47.080,0.000,12.620,6.057201e+08,95.00,118.60,5.710,6.990,84.400,2.00,22.320,5.690,0.1505,0.1710,0.6440
SUB-SAHARAN AFRICA,8090068.0,245857.0,39.60,0.130,0.000,76.830,9.201608e+09,62.95,9.70,7.580,0.725,90.380,2.00,37.980,14.860,0.2760,0.2190,0.4260
WESTERN EUROPE,4921096.0,42310.0,167.15,2.000,2.365,4.705,1.564276e+11,99.00,564.50,16.910,0.190,82.230,3.00,10.325,9.560,0.0220,0.2450,0.7200

In [15]:
# to substitute missing values with the median per region, we have to use groupby, followed by apply
# apply in this case, would apply a particular function over the columns in each group
world_df_na_median = world_df.groupby('region').apply(lambda x: x.fillna(x.median()))
world_df_na_median

                                                   region  population    area  \
region               country
ASIA (EX. NEAR EAST) Afghanistan     ASIA (EX. NEAR EAST)    31056997  647500
                     Bangladesh      ASIA (EX. NEAR EAST)   147365352  144000
                     Bhutan          ASIA (EX. NEAR EAST)     2279723   47000
                     Brunei          ASIA (EX. NEAR EAST)      379444    5770
                     Burma           ASIA (EX. NEAR EAST)    47382633  678500
...                                                   ...         ...     ...
WESTERN EUROPE       San Marino            WESTERN EUROPE       29251      61
                     Spain                 WESTERN EUROPE    40397842  504782
                     Sweden                WESTERN EUROPE     9016596  449964
                     Switzerland           WESTERN EUROPE     7523934   41290
                     United Kingdom        WESTERN EUROPE    60609153  244820

                                     density  coastline  migration  \
region               country
ASIA (EX. NEAR EAST) Afghanistan        48.0       0.00      23.06
                     Bangladesh       1023.4       0.40      -0.71
                     Bhutan             48.5       0.00       0.00
                     Brunei             65.8       2.79       3.59
                     Burma              69.8       0.28      -1.80
...                                      ...        ...        ...
WESTERN EUROPE       San Marino        479.5       0.00      10.98
                     Spain              80.0       0.98       0.99
                     Sweden             20.0       0.72       1.67
                     Switzerland       182.2       0.00       4.05
                     United Kingdom    247.6       5.08       2.19

                                     infant_mortality           gdp  literacy  \
region               country
ASIA (EX. NEAR EAST) Afghanistan               163.07  2.173990e+10      36.0
                     Bangladesh                 62.60  2.799942e+11      43.1
                     Bhutan                    100.44  2.963640e+09      42.2
                     Brunei                     12.61  7.057658e+09      93.9
                     Burma                      67.24  8.528874e+10      85.3
...                                               ...           ...       ...
WESTERN EUROPE       San Marino                  5.73  1.012085e+09      96.0
                     Spain                       4.42  8.887525e+11      97.9
                     Sweden                      2.77  2.416448e+11      99.0
                     Switzerland                 4.39  2.460326e+11      99.0
                     United Kingdom              5.16  1.678874e+12      99.0

                                     phones  arable  crops  other  climate  \
region               country
ASIA (EX. NEAR EAST) Afghanistan        3.2   12.13   0.22  87.65      1.0
                     Bangladesh         7.3   62.11   3.07  34.82      2.0
                     Bhutan            14.3    3.09   0.43  96.48      2.0
                     Brunei           237.2    0.57   0.76  98.67      2.0
                     Burma             10.1   15.19   0.97  83.84      2.0
...                                     ...     ...    ...    ...      ...
WESTERN EUROPE       San Marino       704.3   16.67   0.00  83.33      3.0
                     Spain            453.5   26.07   9.87  64.06      3.0
                     Sweden           715.0    6.54   0.01  93.45      3.0
                     Switzerland      680.9   10.42   0.61  88.97      3.0
                     United Kingdom   543.5   23.46   0.21  76.33      3.0

                                     birthrate  deathrate  agriculture  \
region               country
ASIA (EX. NEAR EAST) Afghanistan         46.60      20.34        0.380
                     Bangladesh          29.80       8.27        0.199
                     Bhutan              33.65      12.70        0.258
                     Brunei              18.79       3.45        0.036
                     Burma               17.91       9.83        0.564
...                                        ...        ...          ...
WESTERN EUROPE       San Marino          10.02       8.17        0.022
                     Spain               10.06       9.72        0.040
                     Sweden              10.27      10.31        0.011
                     Switzerland          9.71       8.49        0.015
                     United Kingdom      10.71      10.13        0.005

                                     industry  service
region               country
ASIA (EX. NEAR EAST) Afghanistan        0.240    0.380
                     Bangladesh         0.198    0.603
                     Bhutan             0.379    0.363
                     Brunei             0.561    0.403
                     Burma              0.082    0.353
...                                       ...      ...
WESTERN EUROPE       San Marino         0.245    0.720
                     Spain              0.295    0.665
                     Sweden             0.282    0.707
                     Switzerland        0.340    0.645
                     United Kingdom     0.237    0.758

[227 rows x 19 columns]

In [16]:
# groupby sets a multi-level index using the groupby columns
# let's drop the newly added region index using droplevel,
# so we can use the boolean mask created earlier
world_df_na_median.droplevel('region')[missing].sort_index().head()

<ipython-input-16-2e554ced8667>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  world_df_na_median.droplevel('region')[missing].sort_index().head()

,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
country,,,,,,,,,,,,,,,,,,,
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.1505,0.171,0.644
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.0220,0.245,0.720
Angola,SUB-SAHARAN AFRICA,12127071,1246700,9.7,0.13,0.00,191.19,2.304143e+10,42.0,7.8,2.41,0.24,97.35,2.0,45.11,24.20,0.0960,0.658,0.246
Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,88.0,0.04,0.31,21.05,2.744375e+10,98.6,215.4,13.60,2.96,83.44,4.0,8.77,8.27,0.1420,0.308,0.550
Canada,NORTHERN AMERICA,33098932,9984670,3.3,2.02,5.96,4.75,9.863482e+11,97.0,552.2,4.96,0.02,95.02,2.0,10.78,7.80,0.0220,0.294,0.684

In [17]:
# Let's limit it to a particular subset of columns like the previous exercise
cols = ['migration', 'infant_mortality', 'gdp', 'literacy', 'phones', 'arable', 'crops',
        'other', 'birthrate', 'deathrate', 'agriculture', 'industry', 'service']

# To keep all the columns in the new variable, we'll need to copy the original dataframe
# (If we're manipulating the original dataframe inplace, this step is not necessary)
world_df_na_median = world_df.copy()
world_df_na_median[cols] = world_df_na_median.groupby('region')[cols].apply(lambda x: x.fillna(x.median())).droplevel('region')
world_df_na_median.head()

,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.3800,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.2320,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.1010,0.600,0.298
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.1505,0.171,0.644
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.0220,0.245,0.720

In [18]:
# Previewing the most frequent climate category per region
world_df_na_median[['region','climate']].groupby('region').agg(pd.Series.mode)

                              climate
region
ASIA (EX. NEAR EAST)                2
BALTICS                             3
C.W. OF IND. STATES        [1.0, 4.0]
EASTERN EUROPE                      3
LATIN AMER. & CARIB                 2
NEAR EAST                           1
NORTHERN AFRICA                     1
NORTHERN AMERICA      [1.0, 2.0, 3.0]
OCEANIA                             2
SUB-SAHARAN AFRICA                  2
WESTERN EUROPE                      3

In [19]:
# Since there can be multiple modes, we'll take the first one [0]
world_df_na_median['climate'] = world_df_na_median.groupby('region')['climate'].apply(lambda x: x.fillna(x.mode()[0]))
world_df_na_median

,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.3800,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.2320,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.1010,0.600,0.298
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,0.1505,0.171,0.644
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,0.0220,0.245,0.720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,1.968394e+09,83.0,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.0900,0.280,0.630
Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,-0.39,31.00,1.329650e+11,70.0,123.6,0.02,0.00,99.98,1.0,21.98,5.13,0.1320,0.357,0.400
Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,1.716495e+10,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.1350,0.472,0.393
Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,9.201608e+09,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.2200,0.290,0.489
Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,2.324993e+10,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.1790,0.243,0.579

## Exercise 2

The gapminder dataset provides data about the population, life expectancy and GDP in different countries of the world from 1952 to 2007. One of the tasks you want to perform is build a regression model to forecast GDP, population, life expectancy of future years, but you must first transform the data provided.

In [20]:
try:
    gapminder_df = pd.read_csv("../data/gapminder.csv")
except FileNotFoundError:
    gapminder_df = pd.read_csv('https://raw.githubusercontent.com/GUC-DM/W2023/main/data/gapminder.csv')

gapminder_df

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Europe,Switzerland,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,...,5666000.0,6063000.0,6401400.0,6316424.0,6468126.0,6649942.0,6995447.0,7193761.0,7361757,7554661
138,Europe,Turkey,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,...,29788695.0,33411317.0,37492953.0,42404033.0,47328791.0,52881328.0,58179144.0,63047647.0,67308928,71158647
139,Europe,United Kingdom,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,...,53292000.0,54959000.0,56079000.0,56179000.0,56339704.0,56981620.0,57866349.0,58808266.0,59912431,60776238
140,Oceania,Australia,10039.595640,10949.649590,12217.226860,14526.124650,16788.629480,18334.197510,19477.009280,21888.889030,...,10794968.0,11872264.0,13177000.0,14074100.0,15184200.0,16257249.0,17481977.0,18565243.0,19546792,20434176
141,Oceania,New Zealand,10556.575660,12247.395320,13175.678000,14463.918930,16046.037280,16233.717700,17632.410400,19007.191290,...,2488550.0,2728150.0,2929100.0,3164900.0,3210650.0,3317166.0,3437674.0,3676187.0,3908037,4115771

**Transform the data provided. Expected columns in the final dataset:** `['Continent','Country','Year','Population Count','GDP Value', 'Life Expectancy']`

_Hint: you'll need to `melt` each variable on its own and then merge the partial dataframes in the end._

In [21]:
# Fetch the columns that are related to GDP and assign them to a new dataframe
# Using .loc so we can get a slice of the columns
gdp = gapminder_df.loc[:,'gdpPercap_1952':'gdpPercap_2007']
gdp.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [22]:
gdp

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
1,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
2,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
3,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
4,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994
...,...,...,...,...,...,...,...,...,...,...,...,...
137,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
138,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
139,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280
140,10039.595640,10949.649590,12217.226860,14526.124650,16788.629480,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440
141,10556.575660,12247.395320,13175.678000,14463.918930,16046.037280,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110

In [23]:
# Melt the GDP columns into rows
gdp = pd.melt(gdp, var_name='Year', value_name='GDP Value')
gdp.head()

             Year    GDP Value
0  gdpPercap_1952  2449.008185
1  gdpPercap_1952  3520.610273
2  gdpPercap_1952  1062.752200
3  gdpPercap_1952   851.241141
4  gdpPercap_1952   543.255241

In [24]:
# Extract the Year from the variable column
gdp['Year'] = gdp['Year'].str.extract('(\d+)')
gdp

      Year     GDP Value
0     1952   2449.008185
1     1952   3520.610273
2     1952   1062.752200
3     1952    851.241141
4     1952    543.255241
...    ...           ...
1699  2007  37506.419070
1700  2007   8458.276384
1701  2007  33203.261280
1702  2007  34435.367440
1703  2007  25185.009110

[1704 rows x 2 columns]

In [25]:
# Same steps for the population and life expectancy columns 
population = pd.melt(gapminder_df.loc[:,'pop_1952':'pop_2007'], var_name='Year', value_name='Population Count')
population.head()

       Year  Population Count
0  pop_1952         9279525.0
1  pop_1952         4232095.0
2  pop_1952         1738315.0
3  pop_1952          442308.0
4  pop_1952         4469979.0

In [26]:
population['Year'] = population['Year'].str.extract('(\d+)')
population.head()

   Year  Population Count
0  1952         9279525.0
1  1952         4232095.0
2  1952         1738315.0
3  1952          442308.0
4  1952         4469979.0

In [27]:
life_exp = pd.melt(gapminder_df.loc[:,'lifeExp_1952':'lifeExp_2007'], var_name='Year', value_name='Life Expectancy')
life_exp.head()

           Year  Life Expectancy
0  lifeExp_1952           43.077
1  lifeExp_1952           30.015
2  lifeExp_1952           38.223
3  lifeExp_1952           47.622
4  lifeExp_1952           31.975

In [28]:
life_exp['Year'] = life_exp['Year'].str.extract('(\d+)')
life_exp.head()

   Year  Life Expectancy
0  1952           43.077
1  1952           30.015
2  1952           38.223
3  1952           47.622
4  1952           31.975

In [29]:
# Before joining the columns, we'll need to get the dataframe into the correct shape by melting it
gapminder_df_final = pd.melt(gapminder_df.loc[:,'contient':'gdpPercap_2007'], id_vars=['continent','country'])
gapminder_df_final

     continent         country        variable         value
0       Africa         Algeria  gdpPercap_1952   2449.008185
1       Africa          Angola  gdpPercap_1952   3520.610273
2       Africa           Benin  gdpPercap_1952   1062.752200
3       Africa        Botswana  gdpPercap_1952    851.241141
4       Africa    Burkina Faso  gdpPercap_1952    543.255241
...        ...             ...             ...           ...
1699    Europe     Switzerland  gdpPercap_2007  37506.419070
1700    Europe          Turkey  gdpPercap_2007   8458.276384
1701    Europe  United Kingdom  gdpPercap_2007  33203.261280
1702   Oceania       Australia  gdpPercap_2007  34435.367440
1703   Oceania     New Zealand  gdpPercap_2007  25185.009110

[1704 rows x 4 columns]

In [30]:
# Drop the columns 'variable' and 'value' as they will be replaced by the columns we created earlier 
gapminder_df_final = gapminder_df_final.drop(['variable','value'],axis=1)

# Capitalize the column names
gapminder_df_final.columns = gapminder_df_final.columns.str.capitalize()
gapminder_df_final.head()

  Continent       Country
0    Africa       Algeria
1    Africa        Angola
2    Africa         Benin
3    Africa      Botswana
4    Africa  Burkina Faso

In [31]:
# Merge (in this case, concatenate) the columns together
# No complex join logic necessary since every variable is recorded every 5 years from 1952 to 2007
gapminder_df_final = pd.concat([gapminder_df_final, population, gdp['GDP Value'], life_exp['Life Expectancy']], axis=1)
gapminder_df_final

,Continent,Country,Year,Population Count,GDP Value,Life Expectancy
0,Africa,Algeria,1952,9279525.0,2449.008185,43.077
1,Africa,Angola,1952,4232095.0,3520.610273,30.015
2,Africa,Benin,1952,1738315.0,1062.752200,38.223
3,Africa,Botswana,1952,442308.0,851.241141,47.622
4,Africa,Burkina Faso,1952,4469979.0,543.255241,31.975
...,...,...,...,...,...,...
1699,Europe,Switzerland,2007,7554661.0,37506.419070,81.701
1700,Europe,Turkey,2007,71158647.0,8458.276384,71.777
1701,Europe,United Kingdom,2007,60776238.0,33203.261280,79.425
1702,Oceania,Australia,2007,20434176.0,34435.367440,81.235
1703,Oceania,New Zealand,2007,4115771.0,25185.009110,80.204